
<div class="login-container">
  <h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" required>
      <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
        Email é obrigatório
      </mat-error>
      <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
        Email inválido
      </mat-error>
    </mat-form-field>


    <mat-form-field appearance="outline">
      <mat-label>Senha</mat-label>
      <input matInput formControlName="password" type="password" required>
      <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
        Senha é obrigatória
      </mat-error>
      <mat-error *ngIf="loginForm.get('password')?.hasError('minlength')">
        Mínimo 6 caracteres
      </mat-error>
    </mat-form-field>


    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>

    <!-- ENTAR LOGIN-->
    <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
      Entrar
    </button>


    <p class="register-link">
      Não tem uma conta? <a routerLink="/register">Registre-se</a>
    </p>
  </form>
</div>
